<!DOCTYPE html>
<html>
    <head>
        <title>Staff's Dashboard</title>
        <link rel="stylesheet" href="/static/dashboard.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    </head>
    <body>
        <!--Sidebar-->
        <div class="sidebar">
            <ul class="nav-links">
                <li><a href="/staff_dashboard/{{this_staff.id}}"><i class="bx bx-grid-alt"></i> Dashboard</a></li>
                <li><a href="/staff_trek/{{this_staff.id}}"><i class="bx bx-map"></i>My Treks</a></li>
                <li><a href="/staff_participants/{{this_staff.id}}"><i class="bx bx-user-pin"></i>Participants</a></li>
                <li><a href="/staff_profile/{{this_staff.id}}"><i class="bx bx-user"></i>Profile</a></li>
                <li><a href="/logout" class="logout"><i class="bx bx-log-out"></i> Logout</a></li>
            </ul>
        </div>
        <!--Sidebar-->
        <!--Navbar-->
        <div class="navbar" style = "position : fixed; ">
            <nav class="navbar bg-body-tertiary" >
                <div class="container-fluid">
                    <a class="navbar-brand">HikeNest</a>
                </div>
            </nav>
        </div>
        <!--Navbar-->
        <!--Main Content-->
        <!--Card-->
        <div class = "canvas" >
            <h2>My Dashboard</h2>
            <div class = "content"  >
                <a href="/staff_trek/{{this_staff.id}}">
                <div class="card" >
                    <div class="card-body">
                        <p class="card-text" >Assigned Trekks</p>
                        <i class="bx bx-map"><p>{{total_trek}}</p></i>
                    </div>
                </div>
                </a>
                <a href="/staff_participants/{{this_staff.id}}">
                <div class="card" >
                    <div class="card-body">
                        <p class="card-text">Total Participants</p>
                        <i class="bx bx-user"><p>{{total_bookings}}</p></i>
                    </div>
                </div>
                </a>
                <a href="/staff_trek/{{this_staff.id}}">
                <div class="card" >
                    <div class="card-body">
                        <p class="card-text">Open Trekks</p>
                        <i class="bx bx-user-pin"><p>{{open_trek}}</p></i>
                    </div>
                </div>
                </a>
                <!--Card-->
            </div><br><br>
            <!--Main Content-->
            <!--Table-->
            <h2>My Assigned Trekks</h2><br>
            <div class = "table">
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th scope="row">Trek Name</th>
                            <th scope="row">Location</th>
                            <th scope="row">Available Slots</th>
                            <th scope="row">Status</th>
                            <th scope="row">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if assigned_trek %}
                            {% for trek in assigned_trek %}
                            <tr>
                                <td>{{trek.trek_name}}</td>
                                <td>{{trek.location}}</td>
                                <td>{{trek.available_slots}}</td>
                                <td>{{trek.status}}</td>
                                <td><a href = "/trek_started/{{this_staff.id}}/{{trek.id}}" class="btn btn-outline-info">Started</a>
                                    <a href = "/trek_completed/{{this_staff.id}}/{{trek.id}}" class="btn btn-outline-info">Completed</a></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="9" class="text-center">
                                There is no data.
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div><br><br>

            <h2>Assigned Participants</h2><br>
            <div class = "table">
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th scope="row">Trek Name</th>
                            <th scope="row">Location</th>
                            <th scope="row">Participants</th>
                            <th scope="row">Available Slots</th>
                            <th scope="row">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if assigned_trek %}
                            {% for trek in assigned_trek %}
                            <tr>
                                <td>{{trek.trek_name}}</td>
                                <td>{{trek.location}}</td>
                                <td>{{trek_participants[trek.id]}}</td>
                                <td>{{trek.available_slots }}</td>
                                <td>{{trek.status}}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="9" class="text-center">
                                There is no data.
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <!--Table-->
        </div>
    </body>
</html>