<!DOCTYPE html>
<html>
    <head>
        <title>Staff's Dashboard</title>
        <link rel="stylesheet" href="/static/dashboard.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    </head>
    <body>
        <!--Sidebar-->
        <div class="sidebar">
            <ul class="nav-links">
                <li><a href="/staff_dashboard/{{this_staff.id}}"><i class="bx bx-grid-alt"></i> Dashboard</a></li>
                <li><a href="/staff_trek/{{this_staff.id}}"><i class="bx bx-map"></i>My Treks</a></li>
                <li><a href="/staff_participants/{{this_staff.id}}"><i class="bx bx-user-pin"></i>Participants</a></li>
                <li><a href="/staff_profile/{{this_staff.id}}"><i class="bx bx-user"></i>Profile</a></li>
                <li><a href="/logout" class="logout"><i class="bx bx-log-out"></i> Logout</a></li>
            </ul>
        </div>
        <!--Sidebar-->
        <!--Navbar-->
        <div class="navbar" style = "position : fixed;">
            <nav class="navbar bg-body-tertiary" >
                <div class="container-fluid">
                    <a class="navbar-brand">HikeNest</a>
                </div>
            </nav>
        </div>
        <!--Navbar-->
        <div class = "canvas" >
            <h1>Edit Profile</h1><br>
                <form action="/staff_edit_profile/{{this_staff.id}}" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name"  name="name" value = {{this_staff.name}} required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value = {{this_staff.email}} required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="phone" name="phone" value = {{this_staff.phone}} required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" value = {{this_staff.password}} required>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-success" value = "Edit">
                        <a href="/staff_profile/{{this_staff.id}}" class="btn btn-secondary">Go Back</a>
                    </div>
                </form>
        </div>
    </body>
</html>